
			<footer>
				<p id="note">* These patterns and components have been refactored to eliminate the SASS and include libraries such as <a href="http://bourbon.io">bourbon</a> and <a href="http://neat.bourbon.io">neat</a> from <a href="http://refills.bourbon.io">thouhtbot's refills</a>. We thank them for all their hard work and generousity. Our goal was simply to give access to these resources and others to those of us out there who aren't quite ready to incorporate SASS into our sites.</p>
			</footer>
	


			<!-- This bit of code contains everything except the offscreen navigation for the side slider -->
		</div><!--#wrapper-->
	
	
	<!-- This is the offscreen navigation used in the mobile side slider -->
		<nav class="slide-content">
			<ul>
				<li><a href="#">Item 1</a></li>
				<li><a href="#">Item 2</a></li>
				<li><a href="#">Item 3</a></li>
			</ul>
		</nav>
		
		<div class="slide-fade"></div>